{% extends 'vpsBase/base.html' %}
{% load static %}
{% block title %}
{{ block.super }} Event Page
{% endblock title %} 
{% block content %}

<div class="page padding-tb-50 text-center">
    <div class="event-detail row padding-lr-20">
        <div class="col s12 m6 event-image">
            <img src="{{main_image.url}}" alt="event-image" />
        </div>

        <div class="col s12 m6 event-description">
            <h2 class="heading"> Event Name</h2>
            <p class="mt-35">
               {{event.description}}
            </p>
        </div>
    </div>

    <div class="gallery-listing mt-50 padding-lr-20 padding-tb-50">
        <h2 class="heading">Gallery Listing</h2>
        <div class="container d-flex justify-content-center align-items-center  mt-35">
         {% for poster in event.eventgallery_set.all %}
        <div class="card-image">
            <img class="materialboxed" src="{{poster.image.url}}"" alt="event-image" />
        </div>
        {% endfor %}
    </div>
    </div>


</div>

{% endblock content %}