{% extends 'vpsBase/base.html' %}
{% load static %}
{% block title %}
{{ block.super }}Events
{% endblock title %}
{% block content %}

<div class="container events-page text-center">
    <div class="owl-carousel owl-theme padding-lr-20">
       {% for i in year_list %}
        <div class="events-section item ">
            <h2 class="heading"> Year {{i}} </h2>
            <div class="row events-section-cards ">
                {% for item in events %}
                   {% if item.year ==  i%}
                <div class="col s12 m4">
                    <div class="card mt-50">
                        <div class="card-image">
                            {% for poster in item.eventgallery_set.all %}
                            {% if poster.mainImage%}
                            <img src= "{{ poster.image.url}}" />
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-content d-flex  align-content-center">
                            <time class="date-card d-flex flex-column justify-content-center align-content-center">
                                <h2 class="date">{{ item.day}}</h2>
                                <span class="month">{{ item.month}}</span>
                                <span class="year">{{ item.year}}</span>
                            </time>
                            <div class="event-name">
                                <h4 class="text-left"><a href="/events/event-detail/{{item.id}}">{{item.name}}</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>



    <!-- <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!">6</a></li>
    <li class="waves-effect"><a href="#!">7</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul> -->
</div>
{% endblock content %}