.form-container {
    margin-top: 20px;
    margin-bottom: 10px !important;
}

.checkbox-div{
   height: 60px;
   display: flex;
   justify-content: start;
   align-items: center;
}

.form-footer {
    padding: 20px 0;
}

.form-footer button {
margin-right: 10px;
}

.stu-promotion-form {
    display: none;
}

.input {
    background-color: #f0f1f3 !important;
    border-color: #f0f1f3 !important;
    height: 45px;
    width: 100%;
    margin-top: 10px;
    color: #111111 !important;
    display: border-box !important;
    padding:0 5px !important ;
    border-radius: 4px;
}

.fees-checkbox{
    margin-right: 25px;
}

.fees-checkbox .span{
    padding-left: 30px !important;
}

.radio{
    margin-right: 25px;
}

/* All fees styles */

.filter-div{
    position: relative;
    width: 100%;
}

form.filter-data{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 1;
    top: -30px;
}

form.filter-data button {
    margin-top: 15px;
} 

.filter-div .filter-input, .filter-div select {
    background-color: #f0f1f3 ;
    border: none ;
    height: 45px;
    width: 250px;
    margin-right: 10px;
    color: #111111;
    display: border-box;
    padding:0 5px ;
    border-radius: 4px;
}


.side-drawer{
    position: absolute;
    top:0;
    right:0;
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 100;
    padding: 30px;
    transition: all .5s cubic-bezier(0.395, 0.085, 0.820, 0.895);
    box-shadow: -5px 0 30px #b4b3b3;
}

.side-drawer-div {
   margin-bottom: 30px;
}

.side-drawer .student-image {
    width: 250px;
    height: 250px;
    margin-right: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.side-drawer .student-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.side-drawer .student-details {
padding: 20px;
}

.side-drawer .student-details p{
    font-size: 18px;
}
.side-drawer table{
    width: 100%;
}

