{% extends 'vpsBase/base.html' %}
{% block title %}
{{ block.super }}Resources
{% endblock title %}
{% block content %}

<div class="resources-page text-center padding-lr-20 padding-tb-50">
  <h2 class="heading">Resources</h2>

<div class="container">
  <div class="resources d-flex  mt-35">
    {% if resources %}
    {% for resource in resources %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{resource.title}}</span>
          <p>{{resource.description}}</p>
        </div>
        <div class="card-action">
          <a href="{{resource.pdf.url}}" download>
              Download
          </a>
        </div>
      </div>
    {% endfor %}
    {% else %}
      <p>Please add resources...</p>
    {% endif %}
  </div>
</div>
</div>
   {% endblock content %}
