{% extends 'vpsBase/base.html' %}
{% load static %}
{% block title %}
{{ block.super }}Resources
{% endblock title %} 
{% block content %}

<div class="resources-page text-center padding-lr-20 padding-tb-50">
  <h2 class="heading">Resources</h2>
 
  <div class="resources mt-35">
  <div class="card-panel resources-card">
   <h3>Time Table</h3> 
  </div>
  <div class="card-panel resources-card">
   <h3> Syllabus</h3>
   </div>
   <div class="card-panel resources-card">
    <h3>List of Holidays </h3>
   </div>
   <div class="card-panel resources-card">
    <h3>Date Sheet</h3>
   </div>
</div>
</div>

{% endblock content %}