{% extends 'vpsBase/base.html' %} 
{% load static %} 
{% block title %} 
{{block.super }}News
 {% endblock title %}
  {% block content %}

<div class="news-page text-center">
  <h2 class="heading">Announcements</h2>

  {% comment %} <div class="input-field col s12">
   <label>Browser Select</label>
  <select class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
  </div> {% endcomment %}

  {% comment %} <ul class="months-list mt-35 padding-lr-20">
    <li class="month-list-item">Jan</li>
    <li class="month-list-item">Feb</li>
    <li class="month-list-item">Mar</li>
    <li class="month-list-item">Apr</li>
    <li class="month-list-item">May</li>
    <li class="month-list-item">Jun</li>
    <li class="month-list-item">Jul</li>
    <li class="month-list-item">Aug</li>
    <li class="month-list-item">Sep</li>
    <li class="month-list-item">Oct</li>
    <li class="month-list-item">Nov</li>
    <li class="month-list-item">Dec</li>
  </ul> {% endcomment %}

  <div class="news-list padding-lr-20 mt-30">
    {% for item in news %}
    <div class="news-card col s12">
      <time
        class="
          card
          date-card
          d-flex
          flex-column
          justify-content-center
          align-content-center
        "
      >
        <h2 class="date">{{ item.datepublished}}</h2>
        <span class="month">{{ item.monthpublished}}</span>
        <span class="year">{{ item.yearpublished}}</span>
      </time>
      <div class="news-content">
        <h3>
          <a
            target="_blank"
            href="{{ item.pdf.url}}"
          >
            {{ item.title}}
          </a>
        </h3>
        <p>{{item.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
