{% extends './base.html' %} 
{% block title %}
{{ block.super }}Contact
{% endblock title %} 
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col s12 m8 d-flex flex-column">
          <h2 class="heading text-center">Get in Touch</h2>
          <p class="contact-desc">
            You can contact us anyway that is convinent to you. We would be
            happy to answer your questions
          </p>
          <div class="d-flex flex-column">
            <div class="d-flex flex-row">
              <div class="input-field col s6">
              <label for="first_name">First Name</label>
                <input id="first_name" type="text" class="input-field-box" />
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="input-field-box" />
                <label for="last_name">Last Name</label>
              </div>
            </div>

            <div class="d-flex flex-row">
              <div class="input-field col s6">
                <input id="email" type="text" class="input-field-box" />
                <label for="email">Email</label>
              </div>
              <div class="input-field col s6">
                <input id="phone" type="text" class="input-field-box" />
                <label for="phone">Phone</label>
              </div>
            </div>
            <div class="input-field col s12">
              <textarea id="message" rows="10" cols="50"class="input-field-box"></textarea>
              <label for="message">Message</label>
            </div>

            <button class="btn waves-effect waves-light mt-30" type="submit" style="max-width: 10rem;" name="action"> 
              Send Message
              <i class="material-icons right">arrow_forward</i>
            </button>
          </div>
        </div>
        <div class="col s12 m4 contact-info">
          <div class="f-flex flex-column">
            <p class="contact-info-heading">Phones</p>
            <p style="color: grey">
              <i class="fas fa-phone" style="color: rgb(31, 30, 30)"></i
              >&nbsp;+91 {{ about_content.contact }}
            </p>
            {% comment %} <p style="color: grey">
              <i class="fas fa-phone" style="color: rgb(31, 30, 30)"></i
              >&nbsp;+91 8905672356
            </p> {% endcomment %}
          </div>
          <div class="f-flex flex-column">
            <p class="contact-info-heading" style="margin-top: 30px">E-Mail</p>
            <a href="mailto:contact@vps.com">
              <i class="fas fa-envelope" style="color: rgb(31, 30, 30)"></i
              >&nbsp;&nbsp;{{ about_content.email }}
            </a>
          </div>
          <div class="f-flex flex-column">
            <p class="contact-info-heading" style="margin-top: 30px">Address</p>
            <p style="color: grey">
              <i class="fas fa-map-marked" style="color: rgb(31, 30, 30)"></i
              >&nbsp;&nbsp;{{ about_content.school_address }}
            </p>
          </div>
          <div class="f-flex flex-column">
            <p class="contact-info-heading" style="margin-top: 30px">
              Opening Hours
            </p>
            <p style="color: grey">
              <i class="fas fa-calendar-alt" style="color: rgb(31, 30, 30)"></i
              >&nbsp;&nbsp;Mon-Fri: 8:00AM - 4:00PM<br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sat: 8:00AM - 1:00PM<br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sun: Closed<br />
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <iframe
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAfpyQGbMivdx2jPD2A4FP1JiqoBwZyQWs&q=Gurgaon+India"
        frameborder="0"
        width="100%"
        height="300"
        style="margin-bottom: 30px"
      ></iframe>
    </div>
    {% endblock content %} 
