{% extends './base.html' %}
{% load static %}
{% block title %}
{{ block.super }}Join Us
{% endblock title %}
{% block content %}

<div class="page ">

  <div class="carousel carousel-slider slideshow" data-indicators="true">
    <a class="carousel-item" href="#one!"><img
        src="https://images.unsplash.com/photo-1594608661623-aa0bd3a69d98?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2Nob29sJTIwY2hpbGRyZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
    <a class="carousel-item" href="#two!"><img
        src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2Nob29sfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
    <a class="carousel-item" href="#three!"><img
        src="https://images.unsplash.com/photo-1495727034151-8fdc73e332a8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2Nob29sfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
    <a class="carousel-item" href="#four!"><img
        src="https://images.unsplash.com/photo-1427504494785-3a9ca7044f45?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHNjaG9vbCUyMGNoaWxkcmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
  </div>


  <section class=" info-section  text-center">

    <div class="about-section padding-tb-50 padding-lr-20">
      <h2 class="heading text-bold">A Few Words About School</h2>
      <p class="mt-35" style="text-align: left;"> 
        {{ about_content.description }}
      </p>

     <a href="{% url 'about' %}"><button class="btn waves-effect waves-light mt-30" type="submit" name="action">Learn More
        <i class="material-icons right">arrow_forward</i>
      </button> </a>
    </div>

    <div class="news-section padding-tb-50 padding-lr-20">
      <div class="row">
        <div class="news-card col s12 ">
          <h2>Announcements</h2>
        </div>

        <div class="news-card col s12">
          <time class="date-card d-flex flex-column justify-content-center align-content-center">
            <h2 class="date">25</h2>
            <span class="month">May</span>
            <span class="year">2021</span>
          </time>
          <div class="news-content">
            <h3> <a href="#">New Admissions Open </a></h3>
          </div>
        </div>

        <div class="news-card col s12">
          <time class="date-card d-flex flex-column justify-content-center align-content-center">
            <h2 class="date">25</h2>
            <span class="month">May</span>
            <span class="year">2021</span>
          </time>
          <div class="news-content">
            <h3> <a href="#">New Admissions Open </a></h3>
          </div>
        </div>

        <div class="news-card col s12">
          <time class="date-card d-flex flex-column justify-content-center align-content-center">
            <h2 class="date">25</h2>
            <span class="month">May</span>
            <span class="year">2021</span>
          </time>
          <div class="news-content">
            <h3> <a href="#">New Admissions Open </a></h3>
          </div>
        </div>

        <a href="{% url 'news' %}"><button class="btn waves-effect waves-light mt-30" type="submit" name="action">Read More
          <i class="material-icons right">arrow_forward</i>
        </button> </a>
      </div>
    </div>
  </section>

  <section class="message-section bg-pattern padding-tb-50 padding-lr-20 mt-50">
    <div class="row">
      <div class="col s12 m4">
        <div>
          <img
            src="https://livedemo00.template-help.com/wt_prod-16603/learner/images/users/user-steven-alvarez-230x230.jpg"
            alt="principal" />
        </div>
      </div>

      <div class="message col s12 m8">
        <p class="message-body mt-35">
          <i class="fas fa-quote-left"></i>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatum veritatis quibusdam, aliquam
          quos maiores dolorum libero exercitationem, pariatur inventore velit fugiat. Numquam, tempore sit! Aperiam
          aspernatur molestias quisquam beatae.
        </p>
        <div class="mt-30 text-right">
          <cite class="text-bold"> Abhash Kumar Singh</cite>
          <p class="position">Principal of Vimal Public School</p>
        </div>
      </div>
    </div>
  </section>

  <section class="events-section padding-tb-50 padding-lr-20 text-center">
    <h2 class="heading text-bold"> Events</h2>

    <div class="events-section-cards">
      <div class="row">
        <div class="col s12 m4">
          <div class="card mt-50">
            <div class="card-image">
              <img
                src="https://images.unsplash.com/photo-1578725140576-0f92a363e149?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGV2ZW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="event" />
            </div>
            <div class="card-content d-flex  align-content-center">
              <time class="date-card d-flex flex-column justify-content-center align-content-center">
                <h2 class="date">25</h2>
                <span class="month">May</span>
                <span class="year">2021</span>
              </time>
              <div class="event-name">
                <h4 class="text-center"><a href="#">Interschool Science Exhibition</a></h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card mt-50">
            <div class="card-image">
              <img
                src="https://images.unsplash.com/photo-1578725140576-0f92a363e149?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGV2ZW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="event" />
            </div>
            <div class="card-content d-flex  align-content-center">
              <time class="date-card d-flex flex-column justify-content-center align-content-center">
                <h2 class="date">25</h2>
                <span class="month">May</span>
                <span class="year">2021</span>
              </time>
              <div class="event-name">
                <h4 class="text-center"><a href="#">Interschool Science Exhibition</a></h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card mt-50">
            <div class="card-image">
              <img
                src="https://images.unsplash.com/photo-1578725140576-0f92a363e149?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGV2ZW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="event" />
            </div>
            <div class="card-content d-flex align-content-center">
              <time class="date-card d-flex flex-column justify-content-center align-content-center">
                <h2 class="date">25</h2>
                <span class="month">May</span>
                <span class="year">2021</span>
              </time>
              <div class="event-name ">
                <h4 class="text-center"><a href="#">Interschool Science Exhibition</a></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <a href="{% url 'events' %}"><button class="btn waves-effect waves-light mt-30" type="submit" name="action"> View Events
      <i class="material-icons right">arrow_forward</i>
    </button> </a> 
  </section>

  </>

  {% endblock content %}