{% load static %}
<div class="navbar-top-panel ">
    <div class="navbar-top-panel-left">
      <ul>
        <li>
          <i class="fas fa-phone-alt"></i>
          <a href="tel:#">+91 {{ about_content.contact }}</a>
        </li>
        <li>
          <i class="fas fa-map-marker-alt"></i>
          <a href="#">Gurgaon, Haryana</a>
        </li>
        <li>
          <i class="fas fa-envelope-open"></i>
          <a href="mailto:#">{{ about_content.email }}</a>
        </li>
      </ul>
    </div>
    <div class="navbar-top-panel-right">
      <!-- <i class="fas fa-sign-in-alt"></i>
      Login -->
    </div>
  </div>

  <ul id="about-dropdown" class="dropdown-content">
    <li><a href="{% url 'about' %}">About School</a></li>
    <li><a href="{% url 'staffs' %}">Staffs</a></li>
    <!-- <li><a href="#!">Join Us</a></li> -->
  </ul>

  <ul id="academics-dropdown" class="dropdown-content">
    <li><a href="{% url 'admission' %}">Admission</a></li>
    <li><a href="{% url 'resources' %}">Resources</a></li>
    <!-- <li><a href="#!">Join Us</a></li> -->
  </ul>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger "> <i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'home' %}">Home</a></li>
        <!-- <li><a href="{% url 'about' %}">About</a></li> -->
        <li><a class="dropdown-trigger" href="#" data-target="about-dropdown">About</a></li>
        <li><a class="dropdown-trigger" href="#" data-target="academics-dropdown">Academics</a></li>
        <!-- <li><a href="{% url 'admission' %}">Academics</a></li> -->
        <li><a href="#events">Events</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </div>
  </nav>

  <ul id="slide-out" class="sidenav">
    <li><a href="#">Home</a></li>
    <li><a class="dropdown-button" href="#" data-activates="about-dropdown">About <i
          class="material-icons right"></i></a></li>
    <li><a class="dropdown-button" href="#" data-activates="academics-dropdown">Academics</a><i
        class="material-icons right"></i></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Login</a></li>
  </ul>

 