{% extends 'vpsBase/base.html' %}
{% load static %}
{% block title %}
{{ block.super }}Student
{% endblock title %} 
{% block content %}

<div class="profile-page padding-tb-50 padding-lr-20">
    <div class="student-profile" >
    <h3>Student Dashboard</h3>
    <div class="row">
        <div class="col s12 l4">
            <div class="card student-details">
                <div class="card-content"> 
                 <div class="profile-img">
                   <img src={{ student.image.url }} alt="profile-image" width="60" />
                 </div>
                 <h3>{{ student.full_name }}</h3>
                 <table class="profile-info ">

                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>{{ student.full_name }}</td>
                      </tr>
                      <tr>
                        <td>Class</td>
                        <td>{{ student.student_class_id }}</td>
                      </tr>
                      <tr>
                        <td>Section</td>
                        <td>{{ student.section }}</td>
                      </tr>
                      <tr>
                        <td>Father's name</td>
                        <td>{{ student.father_name }}</td>
                      </tr>
                      <tr>
                        <td>Mother's name</td>
                        <td>Mrs. SK singh</td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>{{ student.address }}</td>
                      </tr>
                      <tr>
                        <td> Phone</td>
                        <td>{{ student.contact_number }}</td>
                      </tr>
                    </tbody>
                  </table>
                        
                </div>
            </div>
        </div>
        <div class="col s12 l8">
            <div class="row">
                <div class="col s12 l6">
                    <div class="card">
                        <div class="card-content attendance-card d-flex flex-column justify-content-center align-items-center">
                           <h4> Attendance</h4>
                           <h1>{{ student.attendance }}%</h1>
                        </div>
                    </div>
                </div>
                <div class="col s12 l6">
                    <div class="card">
                        <div class="card-content teacher-card">
                            <h4> Class Teacher</h4>
                            <div class="teacher-info mt-30 d-flex justify-content-center align-items-center">
                                <div class="teacher-img">
                                <img src={{ student.student_class.class_teacher.image.url }} alt="profile-image" />
                            </div>
                              <div class="teacher-contact">
                               <h4>{{ student.student_class.class_teacher }}</h4>
                               <h4>{{ student.student_class.class_teacher.email }}</h4>
                              </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 l12">
                    <div class="card">
                      <div class="card-content">
                          <h4>All Exam Results</h4>
                            <table class="striped">
                                <thead>
                                  <tr>
                                      <th>Exam</th>
                                      <th>Obtained Marks</th>
                                      <th>Total Marks</th>
                                      <th>Percentage</th>
                                  </tr>
                                </thead>
                        
                                <tbody>
                                {% for result in results %}
                                  <tr>
                                    <td>{{ result.exam_id }}</td>
                                    <td>{{ result.obtained_marks }}</td>
                                    <td>{{ result.total_marks }}</td>
                                    <td>{{ "0.00%" }}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                      </div>
                    </div>
                </div>
              </div>
        </div>
      </div>
</div>
</div>

{% endblock content %}