{% extends './base.html' %}
{% load static %}
{% block title %}
{{ block.super }}Student
{% endblock title %} 
{% block content %}

    <div class="student-profile" >
       <h3 class="heading-student">Student Dashboard</h3>

       <div class="profile-info-grid">
         <div class="col s12 l4">
            <div class="card">
              Student - info
            </div>
         </div>

         <div class="col s12 l8">
            <div class="">
              <div class="">
                <div class="card">
                  Class Teacher
                </div>
              </div>
              <div class="">
                <div class="card">
                  Due Fees
                </div>
              </div>
            </div>

            <div class="card">
              <table id="example" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th> Exam Name</th>
                        <th>Class</th>
                        <th> Subject</th>
                        <th>Date</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td> Class Test</td>
                      <td> Class 8</td>
                      <td>English</td>
                      <td> 13/09/2021</td>
                      <td> 9 /10</td>
                    </tr>
                    <tr>
                      <td> Class Test</td>
                      <td> Class 8</td>
                      <td>English</td>
                      <td> 13/09/2021</td>
                      <td> 9 /10</td>
                    </tr>
                    <tr>
                      <td> Class Test</td>
                      <td> Class 8</td>
                      <td>English</td>
                      <td> 13/09/2021</td>
                      <td> 9 /10</td>
                    </tr>
                    <tr>
                      <td> Class Test</td>
                      <td> Class 8</td>
                      <td>English</td>
                      <td> 13/09/2021</td>
                      <td> 9 /10</td>
                    </tr>
                </tbody>
                </table>
            </div>
            
         </div>

         <!-- <div class="col s12 l3">
          Notifications
         </div> -->

         <div class="fees-data">
          Fees Info
          <div class="card">
            <table id="example" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
              <thead>
                  <tr>
                      <th> Exam Name</th>
                      <th>Class</th>
                      <th> Subject</th>
                      <th>Date</th>
                      <th>Score</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td> Class Test</td>
                    <td> Class 8</td>
                    <td>English</td>
                    <td> 13/09/2021</td>
                    <td> 9 /10</td>
                  </tr>
                  <tr>
                    <td> Class Test</td>
                    <td> Class 8</td>
                    <td>English</td>
                    <td> 13/09/2021</td>
                    <td> 9 /10</td>
                  </tr>
                  <tr>
                    <td> Class Test</td>
                    <td> Class 8</td>
                    <td>English</td>
                    <td> 13/09/2021</td>
                    <td> 9 /10</td>
                  </tr>
                  <tr>
                    <td> Class Test</td>
                    <td> Class 8</td>
                    <td>English</td>
                    <td> 13/09/2021</td>
                    <td> 9 /10</td>
                  </tr>
              </tbody>
              </table>
          </div>
         </div>
    <!-- <div class="row">
        <div class="col s12 l4">
            <div class="card student-details">
                <div class="card-content"> 
                 <div class="profile-img mx-auto text-center">
                   <img src={{ student.image.url }} alt="profile-image" />
                 </div>
                 <h3 style="text-transform:uppercase;text-align:center;">{{ student.full_name }}</h3>
                 <table class="profile-info ">

                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>{{ student.full_name }}</td>
                      </tr>
                      <tr>
                        <td>Class</td>
                        <td>{{ student.student_class_id }}</td>
                      </tr>
                      <tr>
                        <td>Section</td>
                        <td>{{ student.section }}</td>
                      </tr>
                      <tr>
                        <td>Father's name</td>
                        <td>{{ student.father_name }}</td>
                      </tr>
                      <tr>
                        <td>Mother's name</td>
                        <td>Mrs. SK singh</td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>{{ student.address }}</td>
                      </tr>
                      <tr>
                        <td> Father Contact</td>
                        <td>{{ student.father_contact }}</td>
                      </tr>
                      <tr>
                        <td> Mother Contact</td>
                        <td>{{ student.mother_contact }}</td>
                      </tr>
                    </tbody>
                  </table>
                        
                </div>
            </div>
        </div>
        <div class="col s12 l8">
            <div class="row">
                <div class="col s12 l6">
                    <div class="card">
                        <div class="card-content attendance-card d-flex flex-column justify-content-center align-items-center">
                           <h4> Attendance</h4>
                           <h1>{{ student.attendance }}%</h1>
                        </div>
                    </div>
                </div>
                <div class="col s12 l6">
                    <div class="card">
                        <div class="card-content teacher-card">
                            <h4> Class Teacher</h4>
                            <div class="teacher-info mt-30 text-center">
                                <div class="teacher-img mx-auto">
                                <img src={{ student.student_class.class_teacher.image.url }} alt="profile-image" />
                            </div>
                              <div class="teacher-contact">
                               <h4>{{ student.student_class.class_teacher }}</h4>
                               <h4>{{ student.student_class.class_teacher.email }}</h4>
                              </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 l12">
                    <div class="card">
                      <div class="card-content">
                          <h4>All Exam Results</h4>
                            <table class="display nowrap">
                                <thead>
                                  <tr>
                                      <th>Exam</th>
                                      <th>Class</th>
                                      <th>Obtained Marks</th>
                                      <th>Total Marks</th>
                                      <th>Percentage</th>
                                  </tr>
                                </thead>
                        
                                <tbody>
                                {% for result in results %}
                                  <tr>
                                    <td><a href="/student-profile/{{student.id}}/{{result.id}}">{{ result.exam_id }}</a></td>
                                    <td>{{ result.class_id }}</td>
                                    <td>{{ result.obtained_marks }}</td>
                                    <td>{{ result.total_marks }}</td>
                                    <td>{{ "0.00%" }}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                      </div>
                    </div>
                </div>
              </div>
        </div>
        {% if one_result %}
            <div class="col s12">
            <div class="card">
            <div class="card-content">
                <h4>{{exam.title}}</h4>
                  <table class="display">
                      <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Class</th>
                            <th>Obtained Marks</th>
                            <th>Total Marks</th>
                        </tr>
                      </thead>
              
                      <tbody>
                      {% for res in one_result %}
                        <tr>
                          <td>{{res.subject_id}}</td>
                          <td>{{res.class_id}}</td>
                          <td>{{res.obtained_marks}}</td>
                          <td>{{res.total_marks}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
        {% endif %}
      </div> -->
</div>
</div>


{% endblock content %}