{% extends 'vpsBase/base.html' %}
{% load static %}
{% block title %}
{{ block.super }}Student
{% endblock title %} 
{% block content %}

<div class="profile-page">
    <div class="student-profile" >
    <div class="d-flex flex-row w-100">
       <h3 class="heading-student">Student Dashboard</h3>
    </div>
    <div class="row">
            <div class="col s12">
            <div class="card">
            <div class="card-content">
                <h4>All Payments</h4>
                  <table class="display">
                      <thead>
                        <tr>
                            <th>ID</th>
                            <th>Class</th>
                            <th>Month</th>
                            <th>Tuition Fees</th>
                            <th>Bus Fees</th>
                            <th>Total Fees</th>
                            <th>Fine</th>
                            <th>Status</th>
                            <th>Paid At</th>
                        </tr>
                      </thead>
              
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Class 6</td>
                            <td>April</td>
                            <td>Rs.1500</td>
                            <td>Rs.00</td>
                            <td>Rs.1500</td>
                            <td> {{year}} </td>
                            <td> {{month}} </td>
                            <td> {{date}} </td>
                        </tr>
                      <!-- {% for res in allMonths %}
                        <tr>
                          <td>{{res}}</td>
                        </tr>
                      {% endfor %} -->
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
      </div>
</div>
</div>


{% endblock content %}