{% extends './base.html' %}
{% load static %}
{% block title %}
{{ block.super }} Home
{% endblock title %}
{% block content %}

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
     <div class="mdc-card p-2">
        <h6 class="card-title card-padding "> All Fees Collection</h6>
        <table id="example"  class="mdl-data-table" style="width:100%">
            <thead>
                <tr>
                <th> ID</th>
                <th> Name</th>
                <th>Class</th>
                <th>Section</th>
                <th>Expense</th>
                <th>Amount</th>
                <th>Status</th>
                <th> Phone</th>
                <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in allFees %}
                <tr>
                    <td> # {{ fee.id }}</td>
                    <td> {{ fee.student_id.full_name }}</td>
                    <td> {{ fee.class_id }} </td>
                    <td> {{ fee.student_id.section }} </td>
                    <td> Monthly Fees</td>
                    <td> Rs. {{ fee.month_fees }}</td>
                    <td>  
                    {% if not fee.is_paid %}
                        <span class="rounded-div rounded-div--warning">
                            Unpaid
                        </span>
                    {% else %}
                        <span class="rounded-div rounded-div--success">
                            paid
                        </span>
                    {% endif %}
                </td>
                    <td> {{ fee.student_id.father_contact }}</td>
                    <td>rishav@gmail.com</td>
                </tr>
                {% endfor %}
                  
                <!-- <tr>
                    <td> #122</td>
                    <td> Rishav Raj</td>
                    <td> 5 </td>

                    <td> B </td>
                    <td> Monthly Fees</td>
                    <td> Rs 10,000</td>
                    <td>  <span class="rounded-div rounded-div--warning">
                        Unpaid
                    </span></td>
                    <td> 9889999999</td>
                    <td>rishav@gmail.com</td>
                </tr>
                <tr>
                    <td> #125</td>
                    <td> Saksham Raj </td>
                    <td> 4 </td>
                    <td> A </td>
                    <td> Transport Fees</td>
                    <td> Rs 1,000</td>
                    <td>  
                        <span class="rounded-div rounded-div--success">
                        Paid
                    </span>
                </td>
                    <td> 7779999999</td>
                    <td> saksham@gmail.com</td>
                </tr> -->
            </tbody>
            <tfoot>
                <tr>
                    <th> ID</th>
                    <th> Name</th>
                    <th>Class</th>
                    <th>Section</th>
                    <th>Expense</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th> Phone</th>
                    <th>Email</th>
                </tr>
            </tfoot>
        </table>
    </div>

     </div>
     </div>
     </div>

{% endblock content %}