<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'css/materialize/materialize.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/font-awesome/all.min.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom/utilities.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom/home.css' %}" /> 
    <link rel="stylesheet" href="{% static 'css/custom/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom/utils.css' %}" />
    <title>{% block title %}Vimal Public School | {% endblock title %}</title>
  </head>
  <body>
    {% comment %} NAVIGATION BAR {% endcomment %} {% comment %} NAVIGATION BAR
    END {% endcomment %} {% block content %}{% endblock content %} {% comment %}
    FOOTER {% endcomment %} {% comment %} FOOTER END {% endcomment %} 
    {% include './footer.html' %}
    <script src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>
