{% load static %}
<div class="container">
  <div class="footer-braker"></div>
  <div class="row justify-content-center my-20">
    <div class="col s12 l4 text-center">
     <img src="{% static 'images/footer_img.jpg' %}" alt="vps_logo" class="footer-logo">
    </div>
    <div class="col s12 l4 d-flex flex-column">
     <p class="footer-heading">Contact Us</p>
     <p style="color: grey">
        <i class="fas fa-phone" style="color: rgb(31, 30, 30)"></i
        >&nbsp;+91 1238756740
      </p>
      <a href="mailto:contact@vps.com">
        <i class="fas fa-envelope" style="color: rgb(31, 30, 30)"></i
        >&nbsp;&nbsp;contact@vps.com
      </a>
      <p style="color: grey">
        <i class="fas fa-map-marked" style="color: rgb(31, 30, 30)"></i
        >&nbsp;&nbsp;Lorem, ipsum dolor sit amet.
      </p>
    </div>
    <div class="col s12 l4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias,
      voluptatem!
    </div>
  </div>
</div>
