{% extends './base.html' %} 
{% load static %}
{% block title %}
{{ block.super }}Join Us
{% endblock title %} 
{% block content %}

<nav> 
    <div class="nav-wrapper">
     <a href="#" class="brand-logo">Logo</a>
     <a href="#" data-target="mobile-nav" class="sidenav-trigger " > <i class="material-icons" >menu</i></a>

     <ul class="right hide-on-med-and-down">
       <li><a href="#">Home</a></li>
       <li><a href="#">About</a></li>
       <li><a href="#">Academics</a></li>
       <li><a href="#">Events</a></li>
       <li><a href="#">Contact</a></li>
     </ul>
    </div>
 </nav>

  <ul id="slide-out" class="sidenav">
    <li><a href="#">Home</a></li>
    <li><a class="dropdown-button" href="#" data-activates="about-dropdown">About <i class="material-icons right"></i></a></li>
    <li><a class="dropdown-button" href="#" data-activates="academics-dropdown">Academics</a><i class="material-icons right"></i></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Login</a></li>
  </ul>
<!--  
  <div class="carousel carousel-slider" data-indicators="true">
    <a class="carousel-item" href="#one!"><img src="https://images.unsplash.com/photo-1594608661623-aa0bd3a69d98?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2Nob29sJTIwY2hpbGRyZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
    <a class="carousel-item" href="#two!"><img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2Nob29sfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
    <a class="carousel-item" href="#three!"><img src="https://images.unsplash.com/photo-1495727034151-8fdc73e332a8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2Nob29sfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
    <a class="carousel-item" href="#four!"><img src="https://images.unsplash.com/photo-1427504494785-3a9ca7044f45?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHNjaG9vbCUyMGNoaWxkcmVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
  </div> -->

  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>


{% endblock content %}