{% extends './base.html' %} 
{% load static %}
{% block title %}
{{ block.super }}News
{% endblock title %} 
{% block content %}

<div class="news-page text-center">
  <h2 class="heading">Announcements</h2>
 
  <div>
  <label for="year">Select Year</label>
  <select id="year">
    <option value="2021">2021</option>
    <option value="2020">2020</option>
  </select>
</div>

  <ul class="months-list mt-35 padding-lr-20">
  <li class="month-list-item" >Jan </li>
  <li class="month-list-item" >Feb</li>
  <li class="month-list-item" >Mar </li>
  <li class="month-list-item" >Apr</li>
  <li class="month-list-item" >May </li>
  <li class="month-list-item" >Jun</li>
  <li class="month-list-item" >Jul </li>
  <li class="month-list-item" >Aug</li>
  <li class="month-list-item" >Sep </li>
  <li class="month-list-item" >Oct</li>
  <li class="month-list-item" >Nov </li>
  <li class="month-list-item" >Dec</li>
  </ul>

  <div class="news-list padding-lr-20 mt-30">
    <div class="news-card col s12">
      <time class="card date-card d-flex flex-column justify-content-center align-content-center">
        <h2 class="date">25</h2>
        <span class="month">May</span>
        <span class="year">2021</span>
      </time>
      <div class="news-content">
        <h3> <a href="#">New Admissions Open </a></h3>
      </div>
    </div>

    <div class="news-card col s12">
      <time class="card date-card d-flex flex-column justify-content-center align-content-center">
        <h2 class="date">25</h2>
        <span class="month">May</span>
        <span class="year">2021</span>
      </time>
      <div class="news-content">
        <h3> <a href="#">New Admissions Open </a></h3>
      </div>
    </div>
    <div class="news-card col s12">
      <time class="card date-card d-flex flex-column justify-content-center align-content-center">
        <h2 class="date">25</h2>
        <span class="month">May</span>
        <span class="year">2021</span>
      </time>
      <div class="news-content">
        <h3> <a href="#">New Admissions Open </a></h3>
      </div>
    </div>
    
    <div class="news-card col s12">
      <time class="card date-card d-flex flex-column justify-content-center align-content-center">
        <h2 class="date">25</h2>
        <span class="month">May</span>
        <span class="year">2021</span>
      </time>
      <div class="news-content">
        <h3> <a href="#">New Admissions Open </a></h3>
      </div>
    </div>
  </div>
</div>

{% endblock content %}