{% extends 'vpsBase/base.html' %}
{% load static %}
{% block title %}
{{ block.super }}Staffs
{% endblock title %}
{% block content %}
<div class="container">
        <h2 class="heading text-center">Our Staffs</h2>
    <div class="row justify-content-center mt-30">
        {% if teachers %}
          {% for teacher in teachers %}
            <div class="col m3 s12">
            <div class="card">
            <div class="card-image">
              <img src="{{teacher.image.url}}" />
            </div>
            <div class="card-content d-flex flex-column" style="padding: 12px">
              <h5 style="margin-top: 0; margin-bottom: 4px; font-weight: 500">
               {{teacher.full_name}}
              </h5>
              <p style="color: grey; margin-left: 2px">
                {{teacher.designation}}, VPS
              </p>
            </div>
          </div>
        </div>
          {% endfor %}
        {% endif %}
        
    </div>
</div>
{% endblock content %}