@import "./styles.css";

/* .page{
    padding:20px;
} */
/* nav top panel */
.navbar-top-panel {
    display: none;
}


nav {
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

nav .brand-logo {
    color: #121212;
    font-size: 1.6rem;
}

nav .nav-wrapper ul {
    margin : 0;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    line-height: 3.2 !important;
}

div.carousel{
position: relative;
}

div.carousel.carousel-slider {
    /* margin-top: 39px; */
    height: calc(100vh - 50px);

}

div.carousel .carousel-item img {
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

div.carousel .container {
    justify-content: center;
    align-items: center;
}

div.carousel-overlay .carousel-heading{
color: #fff;
}

div.carousel .carousel-overlay{
position: absolute;
top: 0;
left:0;
width:100%;
height:100%;
z-index: 10;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) );
color: #fff;
}

/* About section */

div .about-section {
    text-align: center;
}

/* Latest news section */

.news-card {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0 !important;
    color: var(--bg-color)
}

.news-content a {
    color: #494a4c;
}

.news-date {
    border-radius: 1rem;
    background-color: #BB7572;
    padding: 0.5rem;
    color: #fff;
    margin-right: 2rem;
}

/* Message Section */

.message-section {
    color: #fff;
}

.meassage-section.image{
    text-align: center;
}

.message-section img {
    border-radius: 100%;
}

.bg-pattern {
    background-color: var(--bg-color);
    background-image: url(../../images/pattern.png);
    background-size: cover;
}

.message-body {
    position: relative;
    font-size: 1.4rem;
    font-style: italic;
}

.message-section cite {
    font-size: 1.8rem;
    font-style: normal;
}

.message-section .position {
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 0.5rem;
}


.fa-quote-left {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.2);
}


.date-card {
    background-color: inherit;
    border: 1px solid #ccc;
    color: #696a6d;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
}

.date-card .date {
    margin: 0;
    margin-bottom: -0.8rem !important;
    color: var(--bg-color);
    font-size: 4rem;
}

/* Events section */

.events-section .card-image {
    height: 40rem;
}

.events-section .card-image img {
    height: 100%;
}


.events-section .card-content {
    padding: 0;
}

.events-section .date-card {
    background-color: var(--bg-color);
    border: none;
    color: #ffe894;
    margin-right: 2rem;

}

.events-section .date-card .date{
    color: #ffe894;
}

.events-section .card-content .event-name{
    flex: 1;
}

.event-name a{
    color : #301A4B;
}


/* owl carousel */

div.owl-dots{
    display: none;
}

.owl-nav {
position:absolute;
top:8.5rem;
}

.owl-carousel .owl-prev {
    left: -35px;
  }
  
  .owl-carousel .owl-next {
    right: -35px;
  }


@media only screen and (min-width: 601px) {
    .navbar-top-panel {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg-color);
        color: #fff;
        padding: 1.2rem 5rem;
        font-size: 1.4rem;
    }
    
    .navbar-top-panel ul {
        margin:0;
    }
    .navbar-top-panel-left ul li {
        list-style: none;
        display: inline-block;
        margin-right: 7rem;
    }

    .navbar-top-panel a {
        color: #fff;
    }

    .navbar-top-panel .fas {
        margin-right: 1rem;
        opacity: 0.6;
        font-size: 2rem;
    }

    nav {
        height: 7rem;
        padding: 1rem 5rem;
        align-items: center;
        background-color: #fff;

    }

    div.carousel.carousel-slider {
       height: 60vh;
    }

    div.carousel .container {
        justify-content:start;
        align-items: baseline;
    }

    div.carousel .carousel-overlay{
        justify-content: start;
        align-items: center;
        text-align: left;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) );
        }

    .nav-wrapper ul a,
    .brand-logo {
        font-size: 1.6rem;
        color: var(--font-color);
        
    }

    .nav-wrapper ul .dropdown-content{
        top: -7rem;
        background-color: #9D2D35;
    }

    .nav-wrapper ul .dropdown-content li a{
        color: #fff;
        opacity: 0.8;
    }

    .dropdown-content li a:hover , .dropdown-content li a:active{
        opacity: 1;
        background-color: #9D2D35;
    }

    .info-section {
        padding: 5rem 0;
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    .message-section {
        padding: 8rem 0 !important;
    }

    .message-body {
        font-size: 1.8rem;
    }

    .message-section .position {
        font-size: 1.4rem;
    }

    .events-section{
       padding:8rem  0!important;
   }

   .events-section-cards{
       padding: 3rem 0 ;
   }
   
   .events-section-cards .card{
       margin: 1.75rem  1rem;

   }

}