.profile-page{
    background: #Fafafa;
}
.student-details .profile-img , .student-profile .teacher-img{
    width: 50%;
}

.student-details , .student-profile {
    width: 100%;
    /* height: 20rem; */
    border-radius: 100%;
}

.profile-img img {
    border-radius: 5%;
    max-height: 125px;
    min-width: 120px;
    max-width: 120px;
}

.teacher-img img {
    border-radius: 5%;
    max-height: 125px;
    min-width: 120px;
    max-width: 120px;
}

.student-profile .card{
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgb(229 229 229 / 75%);
}

.heading-student {
    font-size: 3rem;
}

/* .student-profile .attendance-card, .student-profile .teacher-card{
    height: 30rem;
} */

.teacher-card .teacher-info{
    flex-direction: column;
}

.profile-page table tr {
    font-size: 1.6rem;
    font-weight: 500;
}
 table.profile-info tr {
     border-bottom:none ;
 }

 


@media only screen and (min-width: 601px) {

 .profile-page {
     padding: 0 !important;
    }
.student-profile, .teacher-profile {
    padding: 5rem 8rem !important;
}
.student-profile .attendance-card, .student-profile .teacher-card{
    height: 35rem;
}


/* .teacher-card .teacher-img {
    margin-right: 2.5rem;
} */
.teacher-card .teacher-info{
    flex-direction: row;
    justify-content: space-evenly !important;
}

}


