* {
  box-sizing: border-box;
}

:root {
  --bg-color: #9D2D35;
  --font-color:#2d2e2e;
}

html {
  font-size: 62.5%;
  letter-spacing: 2px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fdfdfd;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.5;
  font-family: "Poppins";
  font-weight: bold;
}

h1 {
  font-size: 4rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-size: 2.4rem;
}

h4{
  font-size: 1.8rem;
}

p{
  font-size: 1.4rem;
  line-height: 1.5;
}

.text-center{
text-align: center;
}

.heading::after {
  display: block;
  height: 3px;
  width: 60px;
  background-color: var(--bg-color);
  margin:auto;
  margin-top: 1.5rem;
  content: "";
}

.contact-desc {
  color: grey;
  margin-top: 30px;
}

.ml-input {
  margin-left: 50px;
}

.contact-info-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 150px;
}

.contact-info-heading::after {
  content: "";
  margin-top: 5px;
  width: 100%;
  height: 1.5px;
  background-color: rgb(167, 166, 166);
  display: block;
}

.contact-info {
  padding-top: 20px;
}

input {
  background-color: aqua;
}

.about-p-card {
  margin-top: 45px;
  margin-left: auto;
  width: 300px;
}

.staff-card {
  margin-top: 10px;
  max-width: 300px;
}

.staff-card-2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

.staff-card-3 {
  margin-left: auto;
  max-width: 300px;
}

@media screen and (max-width: 480px) {
  .staff-card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 601px) {
h2{
  font-size: 4.4rem;
}
p{
  font-size: 1.6rem;;
}

}

