@import "./styles.css";

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100% !important;
}

.text-center {
  text-align: center ;
}

.mt-50 {
    margin-top: 5rem;
}

.mt-20 {
    margin-top: 2rem;
}

.my-20 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.mt-35{
  margin-top: 3.5rem;
} 

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-30{
   margin-top: 30px;;
}

.padding-tb-50{
   padding-top:5rem ;
   padding-bottom: 5rem ;
}

.padding-tb-30{
  padding-top:3rem ;
  padding-bottom: 3rem ;
}

.padding-lr-20{
   padding-left: 2rem !important;
   padding-right: 2rem !important;
}

.padding-lr-50{
 padding: 0 5rem;
}

.text-bold{
    font-weight: 700;
}

.text-right{
    text-align: right;
}

button.btn {
   color : var(--bg-color);
   border: 2px solid var(--bg-color);
   background-color:#fdfdfd ;
   font-size: 1.6rem;
   box-shadow: 0 4px 8px 0 rgb(0, 0 ,0 , 0.2);
   font-weight: 700;
   padding:0.8rem 2.7rem;
   transition: all 0.3s;
   box-sizing:content-box;
   transition: all 0.3s ease-in-out;
}

button.btn:hover{
  color: #fdfdfd ;
  background-color: var(--bg-color);
}

.material-icons{
    font-weight: bold;
    font-size: 1.6rem;
}

textarea.input-field-box, input.input-field-box{
  box-sizing: border-box !important;
  border: 1px solid #b1b1b1 !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem 1rem !important;
  
}

input.input-field-box{
  height: 4rem !important;
}

textarea.input-field-box{
  height: unset !important;
}

.input-field>label {
  left: 1.5rem !important;
  font-size: 1.4rem;
}

.input-field>label:not(.label-icon).active{
  transform: translateY(-1.8rem) scale(0.9) !important;
  left: 0.8rem !important;
  color: #9d2d35 !important;
}

textarea.input-field-box:focus ,input.input-field-box:focus{
  border-bottom : 1px solid #9d2d35 !important;
  -webkit-box-shadow: 0 1px 0 0 #9D2D35 !important;
  box-shadow: 0 1px 0 0 #9D2D35 !important;
  outline: none !important;

}




